<div class="body-content">
  <h1 class="head-text">Holiday Season!</h1>

  <p class="body-text">Let the Holidays begin!</p>

 <div>
    <form action="/holiday">
      <button type="button" class="btn btn-danger">Generate Holiday</button>
      
      </button>
    </form>
    <h1><%= @api_data %></h1>
  </div>
  </div>
