<div class="body-content">
  <h1 class="head-text">Holiday Season!</h1>

  <p class="body-text">Let the Holidays begin!</p>

 <div>
    <form action="/holiday">
      <button class="button-53" role="button">
        Generate Holiday
      </button>
    </form>
  </div>
  </div>
